**/*.env
**/*.venv
**/*.coverage
**/htmlcov
**/dist
**/build
**/coverage
**/.pytest_cache
**/.mypy_cache
**/.idea
**/__pycache__
**/.DS_Store
**/Thumbs.db
**/node_modules
**/vendor
**/logs
**/tmp
**/*.log